In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

Renewable Energy Data File

In [186]:
data = pd.read_csv('Renewable Energy.csv')

In [188]:
data.head()

,State,Year,Coal,Natural Gas exluding supplemental gaseous fuels,Distillate Fuel Oil,HGL,Jet Fuel,Motor gasoline excluding Fuel Ethanol,Residual Fuel Oil,Other,...,Fuel Ethanol,Losses and co-products,Total_biomass,Geothermal,Solar,Wind,Total_renewable,Interstate flow of Electricity,Net Electricity Imports,Total
0,Alabama,1960,395.4,190.7,31.4,12.5,6.1,129.1,27.0,30.2,...,NaN,NaN,45.7,0.0,NaN,NaN,112.8,-68.3,0.0,866.9
1,Alabama,1965,533.1,236.9,30.6,16.5,6.2,151.9,16.0,41.0,...,NaN,NaN,47.6,0.0,NaN,NaN,121.9,-109.3,0.0,"1,045.0"
2,Alabama,1970,675.6,307.8,49.6,28.9,9.9,194.4,20.7,48.7,...,NaN,NaN,52.4,0.0,NaN,NaN,132.5,-74.4,0.0,"1,393.6"
3,Alabama,1971,626.1,294.8,51.6,30.6,9.8,205.2,16.7,51.2,...,NaN,NaN,54.1,0.0,NaN,NaN,158.2,-59.1,0.0,"1,385.1"
4,Alabama,1972,669.7,287.1,70.4,34.2,9.4,217.4,19.7,54.2,...,NaN,NaN,58.7,0.0,NaN,NaN,164.9,-48.9,0.0,"1,478.2"

In [74]:
data.columns

Index(['State', 'Year', 'Coal',
       'Natural Gas exluding supplemental gaseous fuels',
       'Distillate Fuel Oil', 'HGL', 'Jet Fuel',
       'Motor gasoline excluding Fuel Ethanol', 'Residual Fuel Oil', 'Other',
       'Total_petroleum', 'Total_fossilfuel',
       'Natural Gas including supplemental gaseous fuels',
       'Motor gasoline including Fuel Ethanol', 'Nuclear Electric Power',
       'Hydroelectric Powe', 'Wood and Waste', 'Fuel Ethanol',
       'Losses and co-products', 'Total_biomass', 'Geothermal', 'Solar',
       'Wind', 'Total_renewable', 'Interstate flow of Electricity',
       'Net Electricity Imports', 'Total'],
      dtype='object')

In [75]:
data.fillna(0,inplace=True)

In [76]:
data['Natural Gas exluding supplemental gaseous fuels'] = data['Natural Gas exluding supplemental gaseous fuels'].map(lambda x:x.replace('R',''))

In [77]:
data['Distillate Fuel Oil'] = data['Distillate Fuel Oil'].map(lambda x:x.replace('R',''))

In [78]:
data['HGL'] = data['HGL'].map(lambda x:x.replace('R',''))

In [79]:
data['Jet Fuel'] = data['Jet Fuel'].map(lambda x:str(x).replace('R',''))

In [80]:
data['Motor gasoline excluding Fuel Ethanol'] = data['Motor gasoline excluding Fuel Ethanol'].map(lambda x:x.replace('R',''))

In [81]:
data['Residual Fuel Oil'] = data['Residual Fuel Oil'].map(lambda x:x.replace('R',''))

In [82]:
data['Other'] = data['Other'].map(lambda x:x.replace('R',''))

In [83]:
data['Total_petroleum'] = data['Total_petroleum'].map(lambda x:x.replace('R',''))

In [84]:
data['Total_fossilfuel'] = data['Total_fossilfuel'].map(lambda x:x.replace('R',''))

In [85]:
data['Natural Gas including supplemental gaseous fuels'] = data['Natural Gas including supplemental gaseous fuels'].map(lambda x:x.replace('R',''))

In [86]:
data['Motor gasoline including Fuel Ethanol'] = data['Motor gasoline including Fuel Ethanol'].map(lambda x:x.replace('R',''))

In [87]:
data['Nuclear Electric Power'] = data['Nuclear Electric Power'].map(lambda x:x.replace('R',''))

In [88]:
data['Hydroelectric Powe'] = data['Hydroelectric Powe'].map(lambda x:x.replace('R',''))

In [89]:
data['Wood and Waste'] = data['Wood and Waste'].map(lambda x:x.replace('R',''))

In [90]:
data['Fuel Ethanol'] = data['Fuel Ethanol'].map(lambda x:str(x).replace('R',''))

In [91]:
data['Losses and co-products'] = data['Losses and co-products'].map(lambda x:str(x).replace('R',''))

In [92]:
data['Total_biomass'] = data['Total_biomass'].map(lambda x:str(x).replace('R',''))

In [93]:
data['Geothermal'] = data['Geothermal'].map(lambda x:str(x).replace('R',''))

In [94]:
data['Solar'] = data['Solar'].map(lambda x:str(x).replace('R',''))

In [95]:
data['Wind'] = data['Wind'].map(lambda x:str(x).replace('R',''))

In [96]:
data['Total_renewable'] = data['Total_renewable'].map(lambda x:str(x).replace('R',''))

In [97]:
data['Interstate flow of Electricity'] = data['Interstate flow of Electricity'].map(lambda x:str(x).replace('R',''))

In [98]:
data['Net Electricity Imports'] = data['Net Electricity Imports'].map(lambda x:str(x).replace('R',''))

In [99]:
data['Total'] = data['Total'].map(lambda x:str(x).replace('R',''))

In [104]:
data.columns

Index(['State', 'Year', 'Coal',
       'Natural Gas exluding supplemental gaseous fuels',
       'Distillate Fuel Oil', 'HGL', 'Jet Fuel',
       'Motor gasoline excluding Fuel Ethanol', 'Residual Fuel Oil', 'Other',
       'Total_petroleum', 'Total_fossilfuel',
       'Natural Gas including supplemental gaseous fuels',
       'Motor gasoline including Fuel Ethanol', 'Nuclear Electric Power',
       'Hydroelectric Powe', 'Wood and Waste', 'Fuel Ethanol',
       'Losses and co-products', 'Total_biomass', 'Geothermal', 'Solar',
       'Wind', 'Total_renewable', 'Interstate flow of Electricity',
       'Net Electricity Imports', 'Total', 'Max_Ren_Type'],
      dtype='object')

In [102]:
data['Max_Ren_Type'] = ''

In [108]:
def Ren_Type(row):
    a = row['Hydroelectric Powe']
    b = row.Geothermal
    c = row.Solar
    d = row.Wind
    if max(a,b,c,d) == a:
        return 'Hydroelectric Power'
    elif max(a,b,c,d) == b:
        return 'Geothermal'
    elif max(a,b,c,d) == c:
        return 'Solar'
    else:
        return 'Wind'

In [115]:
data['Max_Ren_Type'] = data.apply(Ren_Type,axis=1)

In [123]:
data[data.State == 'Alabama']

,State,Year,Coal,Natural Gas exluding supplemental gaseous fuels,Distillate Fuel Oil,HGL,Jet Fuel,Motor gasoline excluding Fuel Ethanol,Residual Fuel Oil,Other,...,Losses and co-products,Total_biomass,Geothermal,Solar,Wind,Total_renewable,Interstate flow of Electricity,Net Electricity Imports,Total,Max_Ren_Type
0,Alabama,1960,395.4,190.7,31.4,12.5,6.1,129.1,27.0,30.2,...,0.0,45.7,0.0,0,0.0,112.8,-68.3,0.0,866.9,Hydroelectric Power
1,Alabama,1965,533.1,236.9,30.6,16.5,6.2,151.9,16.0,41.0,...,0.0,47.6,0.0,0,0.0,121.9,-109.3,0.0,"1,045.0",Hydroelectric Power
2,Alabama,1970,675.6,307.8,49.6,28.9,9.9,194.4,20.7,48.7,...,0.0,52.4,0.0,0,0.0,132.5,-74.4,0.0,"1,393.6",Hydroelectric Power
3,Alabama,1971,626.1,294.8,51.6,30.6,9.8,205.2,16.7,51.2,...,0.0,54.1,0.0,0,0.0,158.2,-59.1,0.0,"1,385.1",Hydroelectric Power
4,Alabama,1972,669.7,287.1,70.4,34.2,9.4,217.4,19.7,54.2,...,0.0,58.7,0.0,0,0.0,164.9,-48.9,0.0,"1,478.2",Hydroelectric Power
5,Alabama,1973,688.7,280.0,84.0,32.2,9.3,229.5,38.4,57.3,...,0.0,59.1,0.0,0,0.0,181.7,-77.1,0.0,"1,527.4",Hydroelectric Power
6,Alabama,1974,653.4,282.5,87.8,27.0,9.4,231.7,64.9,55.6,...,0.0,58.5,0.0,0,0.0,166.7,-101.3,0.0,"1,547.8",Hydroelectric Power
7,Alabama,1975,640.1,271.7,85.6,24.7,9.4,237.3,81.4,49.5,...,0.0,57.6,0.0,0,0.0,184.7,-99.2,0.0,"1,515.3",Hydroelectric Power
8,Alabama,1976,632.1,232.8,106.4,27.2,9.1,249.3,89.6,51.4,...,0.0,62.9,0.0,0,0.0,161.0,-53.5,0.0,"1,552.0",Hydroelectric Power
9,Alabama,1977,629.4,248.7,115.2,29.4,9.8,258.3,102.5,58.5,...,0.0,66.7,0.0,0,0.0,174.8,-213.2,0.0,"1,623.7",Hydroelectric Power
10,Alabama,1978,577.6,245.0,120.0,25.8,9.9,266.4,93.9,61.9,...,0.0,66.6,0.0,0,0.0,148.3,-160.0,0.0,"1,638.6",Hydroelectric Power
11,Alabama,1979,670.2,291.5,87.7,21.5,9.5,251.7,64.4,56.8,...,0.0,67.9,0.0,0,0.0,190.7,-235.3,0.0,"1,649.1",Hydroelectric Power
12,Alabama,1980,661.0,278.3,88.5,18.6,11.3,232.7,45.9,53.6,...,0.0,141.0,0.0,0,0.0,238.8,-239.9,0.0,"1,645.1",Hydroelectric Power
13,Alabama,1981,630.0,281.0,104.5,17.2,9.7,226.0,29.2,58.0,...,0.0,150.2,0.0,0,0.0,213.4,-225.6,0.0,"1,604.2",Hydroelectric Power
14,Alabama,1982,511.1,253.4,89.8,16.5,8.7,225.6,38.5,61.3,...,0.0,153.4,0.0,0,0.0,265.5,-278.0,0.0,"1,499.2",Hydroelectric Power
15,Alabama,1983,532.6,230.0,89.6,16.8,9.1,227.9,21.8,50.5,...,0.0,164.7,0.0,0,0.0,282.2,-288.6,0.0,"1,446.1",Hydroelectric Power
16,Alabama,1984,584.6,239.6,83.2,12.7,20.7,232.1,17.0,49.8,...,0.0,175.4,0.0,0.0,0.0,288.1,-245.8,0.0,"1,544.7",Hydroelectric Power
17,Alabama,1985,662.9,227.8,84.6,13.7,19.7,228.4,14.1,49.7,...,0.0,176.7,0.0,0.0,0.0,248.6,-181.7,0.0,"1,519.8",Hydroelectric Power
18,Alabama,1986,660.5,210.2,85.4,15.2,21.0,244.0,15.5,44.4,...,0.0,160.9,0.0,0.0,0.0,215.8,-129.4,0.0,"1,504.8",Hydroelectric Power
19,Alabama,1987,660.7,214.6,93.4,17.6,21.7,254.9,15.3,57.9,...,0.0,155.7,0.0,0.0,0.0,233.5,-104.3,0.0,"1,582.7",Hydroelectric Power
20,Alabama,1988,652.7,243.2,103.7,16.8,10.4,256.1,21.6,55.3,...,0.0,161.0,0.0,0.0,0.0,216.6,-62.1,0.0,"1,651.8",Hydroelectric Power
21,Alabama,1989,682.1,253.6,124.2,18.1,11.4,260.0,22.9,51.6,...,0.0,167.0,0.0,0.1,0.0,304.4,-166.8,0.0,"1,683.3",Hydroelectric Power
22,Alabama,1990,682.5,252.1,125.7,15.7,10.6,258.4,24.6,48.0,...,0.0,145.3,0.0,0.1,0.0,253.3,-132.9,0.0,"1,665.5",Hydroelectric Power
23,Alabama,1991,723.9,261.5,123.2,14.3,12.6,260.2,22.2,54.2,...,0.0,144.8,0.0,0.1,0.0,257.2,-212.7,0.0,"1,682.9",Hydroelectric Power
24,Alabama,1992,775.7,287.9,124.7,14.9,11.7,265.8,24.3,50.7,...,0.0,151.3,0.0,0.1,0.0,257.6,-263.0,0.0,"1,753.5",Hydroelectric Power
25,Alabama,1993,812.9,302.2,122.3,18.9,11.0,270.5,25.2,51.3,...,0.0,176.2,0.0,0.1,0.0,269.5,-264.7,0.0,"1,806.2",Hydroelectric Power
26,Alabama,1994,773.8,299.3,136.9,19.3,19.6,277.0,21.3,52.8,...,0.0,215.9,0.0,0.2,0.0,334.0,-249.5,0.0,"1,898.4",Hydroelectric Power
27,Alabama,1995,828.3,332.4,137.7,19.2,21.8,287.4,19.6,51.7,...,0.0,224.0,0.0,0.1,0.0,322.1,-265.6,0.0,"1,972.5",Hydroelectric Power
28,Alabama,1996,890.7,337.8,137.5,18.2,19.9,286.6,19.8,57.6,...,0.0,209.0,0.0,0.1,0.0,323.7,-398.8,0.0,"2,005.0",Hydroelectric Power
29,Alabama,1997,867.3,337.4,134.2,16.2,12.4,290.1,16.0,56.7,...,0.0,182.2,0.0,0.1,0.0,300.0,-368.0,0.0,"1,972.6",Hydroelectric Power
30,Alabama,1998,856.5,342.0,130.4,12.4,20.0,299.1,9.1,48.3,...,0.0,209.5,0.0,0.1,0.0,317.3,-317.3,0.0,"2,018.5",Hydroelectric Power
31,Alabama,1999,866.5,349.1,140.0,26.5,11.1,300.6,9.2,49.7,...,0.0,210.7,0.1,0.1,0.0,290.2,-304.3,0.0,"2,061.5",Hydroelectric Power
32,Alabama,2000,904.2,368.5,143.2,27.9,13.3,298.0,26.6,51.6,...,0.0,203.8,0.1,0.1,0.0,263.3,-312.0,0.0,"2,111.7",Hydroelectric Power
33,Alabama,2001,842.3,344.0,135.8,26.8,13.3,299.6,9.5,50.8,...,0.0,166.3,0.1,0.1,0.0,252.8,-373.9,0.0,"1,918.0",Hydroelectric Power
34,Alabama,2002,846.0,390.0,132.2,19.9,12.8,320.2,25.1,53.2,...,0.0,163.6,0.1,0.1,0.0,253.6,-406.6,0.0,"1,978.9",Hydroelectric Power
35,Alabama,2003,873.7,360.5,162.7,15.8,14.6,306.8,8.1,54.3,...,0.0,156.3,0.1,0.1,0.0,284.7,-441.0,0.0,"1,970.2",Hydroelectric Power
36,Alabama,2004,853.9,391.9,182.2,16.8,14.5,320.6,10.7,65.6,...,0.0,186.7,0.1,0.1,0.0,293.2,-395.9,0.0,"2,083.5",Hydroelectric Power
37,Alabama,2005,890.1,363.4,173.9,11.3,14.0,326.6,11.2,70.3,...,0.0,178.2,0.1,0.1,0.0,279.8,-406.3,0.0,"2,065.0",Hydroelectric Power
38,Alabama,2006,886.7,402.0,174.3,12.7,13.1,329.3,14.2,68.2,...,0.0,194.2,0.1,0.1,0.0,266.3,-397.3,0.0,"2,102.5",Hydroelectric Power
39,Alabama,2007,888.4,430.6,169.4,14.6,13.2,331.0,13.6,60.5,...,0.0,187.6,0.1,0.1,0.0,228.6,-423.7,0.0,"2,086.3",Hydroelectric Power
40,Alabama,2008,842.8,414.3,152.4,13.7,12.3,316.7,13.6,58.9,...,0.0,176.5,0.1,0.1,0.0,237.1,-465.7,0.0,"2,003.8",Hydroelectric Power
41,Alabama,2009,631.0,466.3,139.9,12.1,9.9,310.3,7.1,39.8,...,0.0,151.1,0.1,0.1,0.0,273.6,-504.5,0.0,"1,800.9",Hydroelectric Power
42,Alabama,2010,718.7,544.4,148.0,13.3,11.9,298.0,10.3,41.0,...,0.0,179.1,0.1,0.1,0.0,264.2,-505.0,0.0,"1,941.4",Hydroelectric Power
43,Alabama,2011,651.0,609.3,155.5,10.7,13.4,289.1,13.4,41.6,...,0.0,190.3,0.1,0.1,0.0,276.9,-556.6,0.0,"1,916.0",Hydroelectric Power
44,Alabama,2012,547.0,677.4,156.7,8.7,12.4,285.8,11.5,40.7,...,0.0,192.1,0.1,0.1,0.0,263.1,-541.5,0.0,"1,889.8",Hydroelectric Power
45,Alabama,2013,565.1,625.9,145.2,9.1,13.2,288.0,6.9,35.9,...,0.0,209.2,0.1,0.1,0.0,332.5,-514.4,0.0,"1,933.9",Hydroelectric Power
46,Alabama,2014,575.9,650.6,143.5,9.1,14.2,287.5,7.7,34.9,...,0.0,200.5,0.1,0.1,0.0,290.7,-475.0,0.0,"1,970.5",Hydroelectric Power
47,Alabama,2015,494.3,701.6,153.8,9.0,17.8,300.1,6.8,35.9,...,0.0,192.3,0.1,0.1,0.0,284.4,-514.0,0.0,"1,928.5",Hydroelectric Power
48,Alabama,2016,410.2,715.7,169.4,8.6,18.0,309.1,11.9,36.3,...,0.0,191.0,0.1,0.4,0.0,256.1,-419.0,0.0,"1,933.6",Hydroelectric Power

In [117]:
data.to_csv('Renewable_Energy_new.csv',index=False)

## TWITTER

In [3]:
data_tweets = pd.read_csv('fossil_tweets.csv')

In [4]:
data_tweets.head()

,Year,user_id,tweet,features__name,features__id,features__screen_name,features__tweets,features__location,features__primary_geo,features__geo_type,state
0,2015,47043733.0,Adios 2015 / Adieu Fossil Fuels...con los mejo...,Fernando Comas,47043733.0,fecove,1,Asturias EspaÃ±a,Asturias EspaÃ±a,User location,NaN
1,2015,14304664.0,Temperature went above zero at the North Pole ...,Cameron MacLeod ðŸ‡¨ðŸ‡¦ðŸ³ï¸â€ðŸŒˆðŸšŠðŸ‘¨â€ðŸ‘¨â€ðŸ‘¦,14304664.0,c_9,1,"Toronto, most of the time.","Toronto, most of the time.",User location,NaN
2,2015,63508890.0,"Beef = a hummer at 12 mpg, pork = a hybrid at ...",Jacob Alhadeff,63508890.0,Jacob_Alhadeff,1,"Seattle, WA","Seattle, WA",User location,Washington
3,2015,16645396.0,"@business Marc is stupid, buy S&P500 less foss...",Will in Seattle,16645396.0,WillSeattle,1,Seattle,Seattle,User location,Washington
4,2015,71849044.0,RT @ClimateReality: Fossil fuels are a bust. C...,Sean Bond,71849044.0,iam_seanbond,1,This Place Called Earth,This Place Called Earth,User location,NaN

In [5]:
grouped_data = data_tweets.groupby(['state','Year']).agg({'features__tweets':sum}).reset_index()

In [6]:
grouped_data.to_csv('fossil_tweets_new.csv',index=False)

In [5]:
data_global_tweets = pd.read_csv('global_tweets.csv')

In [6]:
data_global_tweets.head()

,Year,user_id,tweet,features__name,features__id,features__screen_name,features__tweets,features__location,features__primary_geo,features__geo_type,state
0,2015,3.265560e+09,#GlobalWarming #Tcot NYT: Global Warming Could...,Women's News,3.265560e+09,WomenWorldNews1,1,"New Jersey, USA","New Jersey, USA",User location,New Jersey
1,2015,2.630779e+08,"RT @shariv67: Excuse me, sir. Do you have a mi...",Cally Clarke,2.630779e+08,Giant_hamster,1,neeewcasssle,neeewcasssle,User location,NaN
2,2015,1.788303e+08,RT @TrunewsRadio: Climate Models Have Been Wro...,James Bountrogiannis,1.788303e+08,SpeakeasyJames,1,"GTA, Ontario, Canada","GTA, Ontario, Canada",User location,NaN
3,2015,1.800675e+07,"RT @shariv67: Excuse me, sir. Do you have a mi...",Kat CappsðŸ‡ºðŸ‡¸ ðŸŒŠ,1.800675e+07,KatCapps,1,Portland Oregon,Portland Oregon,User location,Oregon
4,2015,1.497247e+09,I'm wearing shorts and a sleeveless shirt. It'...,jules pules,1.497247e+09,GiraffeFR,1,"Florida, USA","Florida, USA",User location,Florida

In [9]:
grouped_global_data = data_global_tweets.groupby(['state','Year']).agg({'features__tweets':sum}).reset_index()

In [10]:
grouped_global_data.to_csv('global_tweets_new.csv',index=False)

Tweets text file

In [675]:
f=open('2015_fossil.txt','r')

In [676]:
textfile=f.read()

In [677]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [678]:
textfile=textfile.replace('\\n',' ')

In [679]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [680]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [681]:
textfile=textfile.lower()

In [682]:
textfile = textfile.replace('realdonaldtrump','trump')

In [683]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [684]:
textfile=textfile.split()

In [685]:
print(textfile[:100])

['adios', 'adieu', 'fossil', 'fuels', 'con', 'los', 'mejores', 'deseos', 'temperature', 'went', 'above', 'zero', 'at', 'the', 'north', 'pole', 'today', 'keep', 'burning', 'those', 'fossil', 'fuels', 'voting', 'for', 'tax', 'cuts', 'everyone', 'beef', 'a', 'hummer', 'at', 'mpg', 'pork', 'a', 'hybrid', 'at', 'mpg', 'and', 'chicken', 'a', 'smart', 'car', 'at', 'mpg', 'food', 'fossil', 'fuels', 'business', 'marc', 'is', 'stupid', 'buy', 's', 'p', 'less', 'fossil', 'fuels', 'there', 'is', 'an', 'etf', 'for', 'that', 'climatereality', 'fossil', 'fuels', 'are', 'a', 'bust', 'clean', 'energy', 'is', 'right', 'on', 'the', 'money', 'retweet', 'if', 'you', 'agree', 'with', 'schwarzenegger', 'climatereality', 'fossil', 'fuels', 'are', 'a', 'bust', 'clean', 'energy', 'is', 'right', 'on', 'the', 'money', 'retweet', 'if', 'you', 'agree', 'with']

In [686]:
d = {'Tweets':textfile}

In [687]:
Data_15 = pd.DataFrame(d)

In [688]:
Data_15.head(2)

  Tweets
0  adios
1  adieu

In [689]:
Data_15 = Data_15[Data_15['Tweets'] != 'fossil']

In [690]:
Data_15 = Data_15[Data_15['Tweets'] != 'fossilfuel']

In [691]:
Data_15 = Data_15[Data_15['Tweets'] != 'fossilfuels']

In [692]:
Data_15 = Data_15[Data_15['Tweets'] != 'fuels']

In [693]:
Data_15 = Data_15[Data_15['Tweets'] != 'climate']

In [694]:
Data_15 = Data_15[Data_15['Tweets'] != 'climatechange']

In [695]:
Data_15 = Data_15[Data_15['Tweets'] != 'climate']

Data_15 = Data_15[Data_15['Tweets'] != 'climatechange']

In [696]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [697]:
Data_15 = Data_15[Data_15['Tweets'].isin(remove_these_words['Words'])== False]

In [698]:
Data_15.to_csv('2015_fossil.csv',index=False)

2016

In [699]:
f=open('2016_fossil.txt','r')

In [700]:
textfile=f.read()

In [701]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [702]:
textfile=textfile.replace('\\n',' ')

In [703]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [704]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [705]:
textfile=textfile.lower()

In [706]:
textfile = textfile.replace('realdonaldtrump','trump')

In [707]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [708]:
textfile=textfile.split()

In [709]:
print(textfile[:100])

['friendsoscience', 'scottadamssays', 'jg', 'environ', 'hausfath', 'as', 'do', 'fossil', 'fuels', 'the', 'whole', 'energy', 'market', 'is', 'a', 'mess', 'of', 'subsidies', 'world', 'wide', 'shadowy', 'lobbyists', 'make', 'people', 'not', 'wanna', 'pay', 'more', 'for', 'gas', 'elon', 's', 'views', 'on', 'fossil', 'fuels', 'have', 'always', 'been', 'revolting', 'independent', 'paris', 'suffering', 'worst', 'air', 'pollution', 'in', 'a', 'decade', 'fightdenial', 'thank', 'you', 'portland', 'banning', 'new', 'fossil', 'fuel', 'infrastructure', 'through', 'zoning', 'laws', 'can', 'be', 'replicated', 'across', 'the', 'us', 'wind', 'and', 'solar', 'are', 'crushing', 'fossil', 'fuels', 'dosima', 'org', 'fossil', 'fuels', 'are', 'dying', 'yearsofliving', 'it', 's', 'official', 'solar', 'energy', 'cheaper', 'than', 'fossil', 'fuels', 'via', 'ecowatch', 'exxonâ€šÃ¤Ã´s', 'outlook', 'fossil', 'fuels', 'arenâ€šÃ¤Ã´t', 'going', 'anywhere', 'tulsigabbard']

In [710]:
d = {'Tweets':textfile}

In [711]:
Data_16 = pd.DataFrame(d)

In [712]:
Data_16.head(2)

            Tweets
0  friendsoscience
1   scottadamssays

In [713]:
Data_16 = Data_16[Data_16['Tweets'] != 'fossil']

In [714]:
Data_16 = Data_16[Data_16['Tweets'] != 'fossilfuel']

In [715]:
Data_16 = Data_16[Data_16['Tweets'] != 'fossilfuels']

In [716]:
Data_16 = Data_16[Data_16['Tweets'] != 'fuels']

In [717]:
Data_16 = Data_16[Data_16['Tweets'] != 'climate']

In [718]:
Data_16 = Data_16[Data_16['Tweets'] != 'climatechange']

In [719]:
Data_16 = Data_16[Data_16['Tweets'] != 'climate']

Data_16 = Data_16[Data_16['Tweets'] != 'climatechange']

In [721]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [722]:
Data_16 = Data_16[Data_16['Tweets'].isin(remove_these_words['Words'])== False]

In [723]:
Data_16.to_csv('2016_fossil.csv',index=False)

fossil 2017

In [724]:
f=open('2017_fossil.txt','r')

In [725]:
textfile=f.read()

In [726]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [727]:
textfile=textfile.replace('\\n',' ')

In [728]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [729]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [730]:
textfile=textfile.lower()

In [731]:
textfile = textfile.replace('realdonaldtrump','trump')

In [732]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [733]:
textfile=textfile.split()

In [734]:
print(textfile[:100])

['you', 'too', 'can', 'share', 'your', 'own', 'highlights', 'from', 'and', 'what', 'fuels', 'you', 'to', 'keep', 'on', 'fighting', 'for', 'a', 'fossil', 'fuel', 'free', 'world', 'using', 'cliâ€¦', 'jimharris', 'the', 'truth', 'about', 'jobs', 'the', 'smart', 'economy', 'creates', 'way', 'more', 'jobs', 'than', 'dirty', 'fossil', 'fuels', 'technology', 'play', 'a', 'key', 'role', 'in', 'the', 'smaâ€¦', 'decarbonizenow', 'yes', 'this', 'would', 'be', 'useful', 'information', 'the', 'relevant', 'phrase', 'i', 'came', 'across', 'recently', 'is', 'that', 'solar', 'and', 'wind', 'have', 'hiddenâ€¦', 'at', 'this', 'moment', 'of', 'alberta', 's', 'electricity', 'is', 'being', 'produced', 'by', 'fossil', 'fuels', 'while', 'wind', 'is', 'at', 'capacity', 'and', 'producing', 'only', 'justinthaskins', 'scottiev', 'her', 'cubs', 'elizabethforma', 'and', 'we', 'need', 'to', 'do']

In [735]:
d = {'Tweets':textfile}

In [736]:
Data_17 = pd.DataFrame(d)

In [737]:
Data_17.head(2)

  Tweets
0    you
1    too

In [738]:
Data_17 = Data_17[Data_17['Tweets'] != 'fossil']

In [739]:
Data_17 = Data_17[Data_17['Tweets'] != 'fossilfuel']

In [740]:
Data_17 = Data_17[Data_17['Tweets'] != 'fossilfuels']

In [741]:
Data_17 = Data_17[Data_17['Tweets'] != 'fuels']

In [742]:
Data_17 = Data_17[Data_17['Tweets'] != 'climate']

In [743]:
Data_17 = Data_17[Data_17['Tweets'] != 'climatechange']

In [744]:
Data_17 = Data_17[Data_17['Tweets'] != 'climate']

Data_17 = Data_17[Data_17['Tweets'] != 'climatechange']

In [746]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [747]:
Data_17 = Data_17[Data_17['Tweets'].isin(remove_these_words['Words'])== False]

In [748]:
Data_17.to_csv('2017_fossil.csv',index=False)

2018

In [749]:
f=open('2018_fossil.txt','r')

In [750]:
textfile=f.read()

In [751]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [752]:
textfile=textfile.replace('\\n',' ')

In [753]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [754]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [755]:
textfile=textfile.lower()

In [756]:
textfile = textfile.replace('realdonaldtrump','trump')

In [757]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [758]:
textfile=textfile.split()

In [759]:
print(textfile[:100])

['bob', 'zim', 'rick', 'ragan', 'johncornyn', 'the', 'big', 'scare', 'during', 'the', 's', 'was', 'that', 'fossil', 'fuels', 'were', 'causing', 'global', 'cooling', 'â€¦', 'tomthunkitsmind', 'trump', 'just', 'approved', 'the', 'first', 'step', 'in', 'drilling', 'for', 'fossil', 'fuels', 'off', 'the', 'atlantic', 'shore', 'putting', 'our', 'coasts', 'aâ€¦', 'sensanders', 'the', 'fossil', 'fuel', 'industry', 'is', 'now', 'the', 'equivalent', 'of', 'the', 'tobacco', 'industry', 'it', 'creates', 'death', 'and', 'destruction', 'and', 'then', 'spends', 'bâ€¦', 'sensanders', 'the', 'fossil', 'fuel', 'industry', 'is', 'now', 'the', 'equivalent', 'of', 'the', 'tobacco', 'industry', 'it', 'creates', 'death', 'and', 'destruction', 'and', 'then', 'spends', 'bâ€¦', 'sensanders', 'the', 'fossil', 'fuel', 'industry', 'is', 'now', 'the', 'equivalent', 'of', 'the', 'tobacco', 'industry', 'it', 'creates', 'death']

In [760]:
d = {'Tweets':textfile}

In [761]:
Data_18 = pd.DataFrame(d)

In [762]:
Data_18.head(2)

  Tweets
0    bob
1    zim

In [763]:
Data_18 = Data_18[Data_18['Tweets'] != 'fossil']

In [764]:
Data_18 = Data_18[Data_18['Tweets'] != 'fossilfuel']

In [765]:
Data_18 = Data_18[Data_18['Tweets'] != 'fossilfuels']

In [766]:
Data_18 = Data_18[Data_18['Tweets'] != 'fuels']

In [767]:
Data_18 = Data_18[Data_18['Tweets'] != 'climate']

In [768]:
Data_18 = Data_18[Data_18['Tweets'] != 'climatechange']

In [769]:
Data_18 = Data_18[Data_18['Tweets'] != 'climate']

Data_18 = Data_18[Data_18['Tweets'] != 'climatechange']

In [771]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [772]:
Data_18 = Data_18[Data_18['Tweets'].isin(remove_these_words['Words'])== False]

In [773]:
Data_18.to_csv('2018_fossil.csv',index=False)

Global tweets

In [774]:
f=open('2015_global.txt','r')

In [775]:
textfile=f.read()

In [776]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [777]:
textfile=textfile.replace('\\n',' ')

In [778]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [779]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [780]:
textfile=textfile.lower()

In [781]:
textfile = textfile.replace('realdonaldtrump','trump')

In [782]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [783]:
textfile=textfile.split()

In [784]:
print(textfile[:100])

['globalwarming', 'tcot', 'nyt', 'global', 'warming', 'could', 'be', 'causing', 'malformed', 'babies', 'in', 'brazil', 'peopl', 'uniteblue', 'cc', 'shariv', 'excuse', 'me', 'sir', 'do', 'you', 'have', 'a', 'minute', 'to', 'talk', 'about', 'global', 'warming', 'trunewsradio', 'climate', 'models', 'have', 'been', 'wrong', 'about', 'global', 'warming', 'for', 'six', 'decades', 'shariv', 'excuse', 'me', 'sir', 'do', 'you', 'have', 'a', 'minute', 'to', 'talk', 'about', 'global', 'warming', 'i', 'm', 'wearing', 'shorts', 'and', 'a', 'sleeveless', 'shirt', 'it', 's', 'winter', 'Â¬Ã¸how', 'is', 'global', 'warming', 'not', 'real', 'trump', 'shariv', 'excuse', 'me', 'sir', 'do', 'you', 'have', 'a', 'minute', 'to', 'talk', 'about', 'global', 'warming', 'shariv', 'excuse', 'me', 'sir', 'do', 'you', 'have', 'a', 'minute', 'to', 'talk', 'about', 'global']

In [785]:
d = {'Tweets':textfile}

In [786]:
Data = pd.DataFrame(d)

In [787]:
Data.head(2)

          Tweets
0  globalwarming
1           tcot

In [788]:
Data = Data[Data['Tweets'] != 'fossil']

In [789]:
Data = Data[Data['Tweets'] != 'fossilfuel']

In [790]:
Data = Data[Data['Tweets'] != 'fossilfuels']

In [791]:
Data = Data[Data['Tweets'] != 'fuels']

In [792]:
Data = Data[Data['Tweets'] != 'global']

In [793]:
Data = Data[Data['Tweets'] != 'globalwarming']

In [794]:
Data = Data[Data['Tweets'] != 'warming']

In [795]:
Data = Data[Data['Tweets'] != 'climate']

In [796]:
Data = Data[Data['Tweets'] != 'climatechange']

In [798]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [799]:
Data = Data[Data['Tweets'].isin(remove_these_words['Words'])== False]

In [800]:
Data.to_csv('2015_global.csv',index=False)

2016

In [801]:
f=open('2016_global.txt','r')

In [802]:
textfile=f.read()

In [803]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [804]:
textfile=textfile.replace('\\n',' ')

In [805]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [806]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [807]:
textfile=textfile.lower()

In [808]:
textfile = textfile.replace('realdonaldtrump','trump')

In [809]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [810]:
textfile=textfile.split()

In [811]:
print(textfile[:100])

['brianklaas', 'citing', 'snow', 'in', 'mid', 'december', 'as', 'evidence', 'against', 'global', 'warming', 'shows', 'a', 'truly', 'amazing', 'level', 'of', 'scientific', 'ignorance', 'pointing', 'to', 'science', 'as', 'reason', 'to', 'denounce', 'trans', 'identities', 'is', 'like', 'claiming', 'mild', 'winters', 'disproves', 'global', 'warming', 'it', 's', 'either', 'blatantly', 'burntkiss', 'animal', 'agriculture', 'is', 'one', 'of', 'the', 'top', 'leading', 'causes', 'of', 'global', 'warming', 'go', 'vegan', 'to', 'save', 'the', 'earth', 'save', 'your', 'health', 'and', 'savâ€š', 'fightdenial', 'thank', 'you', 'portland', 'banning', 'new', 'fossil', 'fuel', 'infrastructure', 'through', 'zoning', 'laws', 'can', 'be', 'replicated', 'across', 'the', 'us', 'burntkiss', 'animal', 'agriculture', 'is', 'one', 'of', 'the', 'top', 'leading', 'causes', 'of', 'global', 'warming', 'go', 'vegan', 'to', 'save', 'the']

In [812]:
d = {'Tweets':textfile}

In [813]:
Data = pd.DataFrame(d)

In [814]:
Data.head(2)

       Tweets
0  brianklaas
1      citing

In [815]:
Data = Data[Data['Tweets'] != 'fossil']

In [816]:
Data = Data[Data['Tweets'] != 'fossilfuel']

In [817]:
Data = Data[Data['Tweets'] != 'fossilfuels']

In [818]:
Data = Data[Data['Tweets'] != 'fuels']

In [819]:
Data = Data[Data['Tweets'] != 'global']

In [820]:
Data = Data[Data['Tweets'] != 'globalwarming']

In [821]:
Data = Data[Data['Tweets'] != 'warming']

In [822]:
Data = Data[Data['Tweets'] != 'climate']

In [823]:
Data = Data[Data['Tweets'] != 'climatechange']

In [825]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [826]:
Data = Data[Data['Tweets'].isin(remove_these_words['Words'])== False]

In [827]:
Data.to_csv('2016_global.csv',index=False)

2017

In [828]:
f=open('2017_global.txt','r')

In [829]:
textfile=f.read()

In [830]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [831]:
textfile=textfile.replace('\\n',' ')

In [832]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [833]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [834]:
textfile=textfile.lower()

In [835]:
textfile = textfile.replace('realdonaldtrump','trump')

In [836]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [837]:
textfile=textfile.split()

In [838]:
print(textfile[:100])

['nohoesgeorge', 'proof', 'that', 'global', 'warming', 'is', 'real', 'if', 'global', 'warming', 'isn', 't', 'real', 'then', 'why', 'did', 'club', 'penguin', 'get', 'shut', 'down', '\uf8ffÃ¼Â§Ã®', 'vinnyguadagnino', 'trump', 'i', 'think', 'climate', 'change', 'is', 'more', 'complex', 'than', 'global', 'warming', 'will', 'make', 'it', 'hotter', 'it', 'has', 'to', 'do', 'with', 'disâ€š', 'chelseahandler', 'hey', 'dumbass', 'global', 'warming', 'doesnâ€šÃ¤Ã´t', 'only', 'mean', 'extreme', 'heat', 'it', 'means', 'extreme', 'weather', 'hot', 'and', 'cold', 'maybe', 'buy', 'a', 'thermomâ€š', 'vinnyguadagnino', 'trump', 'i', 'think', 'climate', 'change', 'is', 'more', 'complex', 'than', 'global', 'warming', 'will', 'make', 'it', 'hotter', 'it', 'has', 'to', 'do', 'with', 'disâ€š', 'trump', 'in', 'the', 'east', 'it', 'could', 'be', 'the', 'coldest', 'new', 'yearâ€šÃ¤Ã´s', 'eve', 'on']

In [839]:
d = {'Tweets':textfile}

In [840]:
Data = pd.DataFrame(d)

In [841]:
Data.head(2)

         Tweets
0  nohoesgeorge
1         proof

In [842]:
Data = Data[Data['Tweets'] != 'fossil']

In [843]:
Data = Data[Data['Tweets'] != 'fossilfuel']

In [844]:
Data = Data[Data['Tweets'] != 'fossilfuels']

In [845]:
Data = Data[Data['Tweets'] != 'fuels']

In [846]:
Data = Data[Data['Tweets'] != 'global']

In [847]:
Data = Data[Data['Tweets'] != 'globalwarming']

In [848]:
Data = Data[Data['Tweets'] != 'warming']

In [849]:
Data = Data[Data['Tweets'] != 'climate']

In [850]:
Data = Data[Data['Tweets'] != 'climatechange']

In [851]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [852]:
Data = Data[Data['Tweets'].isin(remove_these_words['Words'])== False]

In [853]:
Data.to_csv('2017_global.csv',index=False)

2018

In [854]:
f=open('2018_global.txt','r')

In [855]:
textfile=f.read()

In [856]:
import re
textfile=re.sub(r"http\S+","",textfile)

In [857]:
textfile=textfile.replace('\\n',' ')

In [858]:
clean=['Ã„Â¶',',','!','#','$','%','&','@','(',')','*',',',';','?','/','\\','+','=','<','>','_','-',':','RT','\n','\\n','"',"'",'{','}','[',']','1','2','3','4','5','6','7','8','9','0','.']

In [859]:
for x in clean:
    if x in textfile:
        textfile=textfile.replace(x,' ')

In [860]:
textfile=textfile.lower()

In [861]:
textfile = textfile.replace('realdonaldtrump','trump')

In [862]:
textfile = textfile.replace('donaldtrump','trump')
textfile = textfile.replace('donald','trump')

In [863]:
textfile=textfile.split()

In [864]:
print(textfile[:100])

['khwalz', 'no', 'global', 'warming', 'trump', 'my', 'what', 'an', 'asshole', 'hypocrite', 'and', 'liar', 'you', 'are', 'but', 'we', 've', 'known', 'for', 'ages', 'that', 'you', 're', 'a', 'swâ€š', 'unscriptedmike', 'so', 'dems', 'will', 'soon', 'control', 'the', 'house', 'theyâ€šÃ¤Ã´ll', 'push', 'socialism', 'in', 'the', 'most', 'successful', 'capitalist', 'country', 'in', 'history', 'theâ€š', 'alternatives', 'un', 'global', 'warming', 'report', 'urges', 'to', 'reduce', 'co', 'perfectsliders', 'what', 'is', 'it', 'really', 'called', 'now', 'global', 'warming', 'or', 'climate', 'change', 'ewoutjellema', 'reasons', 'to', 'go', 'vegan', 'meat', 'is', 'worse', 'for', 'global', 'warming', 'than', 'cars', 'going', 'year', 'without', 'beef', 'saves', 'trees', 'â€š', 'bob', 'zim', 'rick', 'ragan', 'johncornyn', 'the', 'big', 'scare', 'during', 'the', 's', 'was', 'that', 'fossil']

In [865]:
d = {'Tweets':textfile}

In [866]:
Data = pd.DataFrame(d)

In [867]:
Data.head(2)

   Tweets
0  khwalz
1      no

In [868]:
Data = Data[Data['Tweets'] != 'fossil']

In [869]:
Data = Data[Data['Tweets'] != 'fossilfuel']

In [870]:
Data = Data[Data['Tweets'] != 'fossilfuels']

In [871]:
Data = Data[Data['Tweets'] != 'fuels']

In [872]:
Data = Data[Data['Tweets'] != 'global']

In [873]:
Data = Data[Data['Tweets'] != 'globalwarming']

In [874]:
Data = Data[Data['Tweets'] != 'warming']

In [875]:
Data = Data[Data['Tweets'] != 'climate']

In [876]:
Data = Data[Data['Tweets'] != 'climatechange']

In [877]:
remove_these_words = pd.read_csv('remove_these_words.csv')

In [878]:
Data = Data[Data['Tweets'].isin(remove_these_words['Words'])== False]

In [879]:
Data.to_csv('2018_global.csv',index=False)